.can-select,
.cannot-select {
  padding-bottom: 8px;
}
.can-select:hover {
  color: grey;
  cursor: pointer;
}
.cannot-select:hover {
  cursor: default;
  color: black;
}
.results-container {
  padding-left: 10px;
}
