.home {
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home__popular-section {
  width: 300px;
  margin-right: 26px;
}
.home__section-title {
  margin-bottom: 32px;
  font-size: 20px;
  color: black;
}
.home__medication-search {
  width: 300px;
}
