.search {
  width: 100%;
  margin-bottom: 20px;
}
.search__input {
  width: 75%;
  height: 24px;
  margin-right: 5px;
  min-width: 150px;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 6px;
}
.search__button {
  width: 20%;
  height: 28px;
  min-width: 56px;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 5px;
}
